#!/bin/bash
set -e

log() {
    echo -e "\n\e[0;32m[install-packages] $@\e[00m"
}

log_error() {
    echo -e "\n\e[0;31m[install-packages] $@\e[00m" >&2
}

log "Installing Apt Packages:"
sudo apt update -yqq
packageList=""
{{ range .packages.universal.apts -}}
echo "  - {{ . }}"
packageList="${packageList} {{ . }}"
{{ end -}}
sudo apt install -yqq $packageList

log "Installing Snap Packages..."
{{ range .packages.universal.snap -}}
sudo snap install {{ . }}
{{ end -}}

# Install rustup
log "Installing Rust Toolchain..."
RUSTUP_HOME="$HOME/.local/share/rustup" CARGO_HOME="$HOME/.local/share/cargo" \
    bash -c 'curl https://sh.rustup.rs -sSf | sh -s -- -y'
if [ $? -eq 0 ]; then
    log "  Rustup installed successfully!"
    . "$HOME/.local/share/cargo/env"
    rustup default stable
else
    log_error "  Failed to install Rustup!"
    exit 1
fi

# Install Python Developer Tools
{{ if .install_python_tools -}}
log "Executing install_python_devtools.sh..."
# bash {{ .chezmoi.sourceDir }}/scripts/install_python_devtools.sh.tmpl
{{ includeTemplate "scripts/install_python_devtools.sh.tmpl" . }}
{{- end }}

log "Installing NVM..."
latest_nvm_version=$(curl -s https://api.github.com/repos/nvm-sh/nvm/releases/latest | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/')
log "Latest NVM version: $latest_nvm_version"
export NVM_DIR="$HOME/.config/nvm" && mkdir -p "$NVM_DIR"
curl -o- "https://raw.githubusercontent.com/nvm-sh/nvm/$latest_nvm_version/install.sh" | bash
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
nvm install --lts

log "Installing Global NPM Packages..."
{{ range .packages.universal.npm_packages -}}
npm install -g {{ . }}
{{ end -}}

# Setup Oh-my-zsh and Zsh plugins
log "Executing setup-zsh.sh..."
bash {{ .chezmoi.sourceDir }}/scripts/setup-zsh.sh

# Setup FZF from releases
log "Installing FZF..."
wget -qO "$HOME/fzf.tar.gz" https://github.com/junegunn/fzf/releases/download/v0.63.0/fzf-0.63.0-linux_amd64.tar.gz
mkdir -p $HOME/.local/bin
tar -xf "$HOME/fzf.tar.gz" -C "$HOME/.local/bin/" && rm "$HOME/fzf.tar.gz"

